:root {
  --clrPrimary: #3b5eda;
  --clrHover: #2c47a0;
  --clrError: #f44336;
  --bgLight: #f9fbfd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: var(--bgLight);
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

#intro {
  margin: 1.25rem;
}

#intro h1 {
  font-size: 2.5rem;
  color: var(--clrPrimary);
  animation: fadeInDown 1s ease-in-out;
}

#intro p {
  font-size: 1.1rem;
  color: #555;
  margin-top: 0.625rem;
  animation: fadeIn 1.5s ease-in-out;
}

#dropZone {
  background: #fff;
  border: 0.1875rem dashed var(--clrPrimary);
  border-radius: 0.75rem;
  padding: 2.5rem 1.25rem;
  margin: 2rem 0;
  width: 80%;
  max-width: 31.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  animation: slideInUp 1s ease-in-out;
}

#dropZone:hover {
  background-color: #eef2ff;
  border-color: var(--clrHover);
  transform: translateY(-0.3125rem);
  box-shadow: 0 0.5rem 0.9375rem rgba(0, 0, 0, 0.2);
}

#dropZone p {
  font-size: 1rem;
  color: #444;
}

#fileInput {
  margin-top: 0.625rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: var(--clrPrimary);
  color: #fff;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#fileInput:hover {
  background-color: var(--clrHover);
  transform: scale(1.05);
}

#downloadLink {
  display: inline-block;
  margin: 1.25rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: var(--clrPrimary);
  font-weight: bold;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-decoration: none;
  animation: bounce 2s infinite;
}

#downloadLink:hover {
  background-color: var(--clrHover);
  transform: translateY(-0.125rem);
  box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.2);
}

#errorMessage {
  display: inline-block;
  margin: 1.25rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: var(--clrError);
  font-weight: bold;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-decoration: none;
  animation: bounce 2s infinite;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-1.25rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(1.875rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-0.5rem);
  }

  60% {
    transform: translateY(-0.25rem);
  }
}
